<form [formGroup]="form" (ngSubmit)="submitForm()" class="mainContainer" autocomplete="off">
  <ng-container
    *ngTemplateOutlet="
      field;
      context: {
        control: firstname,
        fieldType: 'text',
        validationErrors: firstnameErrorMessages,
        label: 'First name'
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      field;
      context: {
        control: lastname,
        fieldType: 'text',
        validationErrors: lastnameErrorMessages,
        label: 'Last name'
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      field;
      context: {
        control: email,
        fieldType: 'email',
        validationErrors: emailErrorMessages,
        label: 'Email'
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      field;
      context: {
        control: password,
        fieldType: 'password',
        validationErrors: passwordErrorMessages,
        label: 'Password'
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      field;
      context: {
        control: passwordConfirmation,
        fieldType: 'password',
        validationErrors: passwordConfirmationErrorMessages,
        label: 'Password Confirmation'
      }
    "
  ></ng-container>

  <button mat-flat-button color="accent" type="submit">Register</button>
</form>

<ng-template
  #field
  let-control="control"
  let-error="validationErrors"
  let-label="label"
  let-type="fieldType"
>
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [formControl]="control"
      placeholder="label"
      type="type ==='password' && !hide ? 'text' : type"
    />

    <mat-error *ngIf="control.errors?.required"> {{ error.required }} </mat-error>
    <mat-error *ngIf="control.errors?.invalidFormat"> {{ error.invalidFormat }} </mat-error>
    <button
      mat-button
      *ngIf="control.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="control.reset()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      type="button"
      *ngIf="type === 'password'"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</ng-template>
