/* For use in src/lib/core/theming/_palette.scss */
$app-primary: (
  50: #eae3f1,
  100: #cab9dd,
  200: #a68ac6,
  300: #825baf,
  400: #68379d,
  500: #4d148c,
  600: #461284,
  700: #3d0e79,
  800: #340b6f,
  900: #25065c,
  A100: #af8eff,
  A200: #8b5bff,
  A400: #6728ff,
  A700: #550fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$app-accent: (
  50: #ffede0,
  100: #ffd1b3,
  200: #ffb380,
  300: #ff944d,
  400: #ff7d26,
  500: #ff6600,
  600: #ff5e00,
  700: #ff5300,
  800: #ff4900,
  900: #ff3800,
  A100: #ffffff,
  A200: #fff4f2,
  A400: #ffc9bf,
  A700: #ffb4a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$app-warn: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
